*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size:62.5%; 
}
:root{
    --bg-principal: #072A49;
    --txt-white: #ffffff;
    --txt-black: #1E272E;
}
.slide{
    max-width: 1920px;
    height: 1035px;
    background-image: url(./assets/images/BannerIndex2.jpg);
}