h1{
    margin: 0 auto 40px auto;
}
.content{
   display: flex;
   justify-content: center;
   align-items: center;
}
.box1{
    grid-area: box1;
    max-width: 33%;
    
}
.box2{
    grid-area: box2;
    max-width: 33%;

}
.box2 p{
    font-size: 1.4rem;
    text-align: center;
}
.box3{
    grid-area: box3;
    max-width: 33%;

}

.content__travels{
    display: flex;
    flex-wrap: wrap;
}
.content__travels__item {
    width: 300px;
}
.content__travels__item h2{
    font-size: 1.6rem;
}
.content__travels__item-details-left p{
    text-align: left;
    font-size: 1.2rem;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "adress copy social";
    justify-content: space-around;
    align-items: center;
}
.footer__adress{
    grid-area: adress;
    text-align: left;
}
.footer__copyright{
    grid-area: copy;
}
.footer__social{
    grid-area: social;
}
